@charset "utf-8";

.container {

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 10vh 7vh 40vh 7vh 7vh 7vh 4vh 4vh 4vh 4vh 4vh 5vh 7vh 5vh 7vh;
    grid-gap: 10px;
    padding-left: 10%;
    padding-right: 10%;

}
#a1 {
    background-color: rgb(62, 168, 20);
    text-align: center;
    grid-column: 1/20;
    grid-row:;
}

#a2 {
    background-color: yellow;
    text-align: center;
    grid-column: 1/20;
    margin-bottom: 50px
    grid-row: ;
}

#a3 {
    background-color: rgb(1, 25, 235);
    grid-column: 1/6;
    grid-row: "";
}
#a4{
    background-color: blue;
    grid-column:6/20;
    text-align: center;
}
#a4 p{
    text-align: center;

}